<html>
<head>
  <title>LaMi Bus</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.4/ui-bootstrap.min.js"></script>
  <script src="javascripts/angularApp.js"></script>
  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>
<body ng-app="lami-bus">
  <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
      <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
      <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
    </ul>
  </nav>
  
   <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ui-view></ui-view>
    </div>
  </div>

  <script type="text/ng-template" id="/home.html">
    <div class="page-header">
      <h1>LaMi Bus</h1>
    </div>
    <div ng-show="isLoggedIn()">
    
      <div ng-repeat="note in notes">
        <span style="font-size:20px;margin-left:10px">
          <pre>
	    <a href="#/notes/{{note._id}}">{{note._id}}</a>
	    {{note.user}}
	    {{note.createdAt | date:'EEE MMM dd yy h:mm a'}}
	    {{note.title}}
	    {{note.message}}
	    <span class="glyphicon glyphicon-trash" ng-click="deleteNote(note._id)"></span>
	  </pre>
        </span>
      </div>

      <form ng-submit="addNote()" style="margin-top:30px">
        <h3>New note:</h3>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Title"  ng-model="title">
        </div>

        <div class="form-group">
          <textarea ng-model="message" class="form-control" placeholder="Message" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Post</button>
      </form>
    </div>
    
    <div ng-hide="isLoggedIn()">
      
    </div>
  </script>

  <script type="text/ng-template" id="/notes.html">
    <div class="page-header">
      <h3>Note:</h3>
    </div>
    <div ng-show="isLoggedIn()">
    
        <span style="font-size:20px;margin-left:10px">
          <pre>
	    {{note.user}}
	    {{note.createdAt | date:'EEE MMM dd yy h:mm a'}}
	    {{note.title}}
	    {{note.message}}
	  </pre>
        </span>
        
    </div>
  </script>

  <script type="text/ng-template" id="/register.html">
    <div class="page-header">
      <h1>Lami Bus</h1>
    </div>
    
    <div ng-show="error" class="alert alert-danger row">
      <span>{{ error.message }}</span>
    </div>
	
    <form ng-submit="register()" style="margin-top:30px;">
      <h3>Register</h3>
	
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" ng-model="user.username"></input>
      </div>
      
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </script>

  <script type="text/ng-template" id="/login.html">
    <div class="page-header">
      <h1>LaMi Bus</h1>
    </div>
	
    <div ng-show="error" class="alert alert-danger row">
      <span>{{ error.message }}</span>
    </div>
	
    <form ng-submit="logIn()" style="margin-top:30px;">
      <h3>Log In</h3>
	
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" ng-model="user.username"></input>
      </div>
      
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
      </div>
      <button type="submit" class="btn btn-primary">Log In</button>
    </form>
  </script>					  

</body>
</html>
